.acordeon{
    display: flex;
    flex-direction: column;
    width:90%;
    border: 1px solid #fff;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    cursor: pointer;
}


.acordeon .trigger{
    font-size: 1.7rem;
    position: relative;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    border: none;
    padding-top: 0.3rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.acordeon:hover{
    background-color: blueviolet;
    transition: ease-in 10ms;
}



.icon-arrow{
    display: inline-flex;
    height: 1rem;
    transform: rotate(-90deg);
    padding-right: 0.3rem;
}



.title{
    font-size: 2rem;
    display: inline-block;
}

.content{
    display: none;
}


.ativo{
 font-size: 1.5rem;
}




.tools h3{
    font-size: 1.5rem;
}

.personal h3{
    margin-top: 2.5rem;
    font-size: 1.5rem;
}

.personal li{
    line-height: 40px;
    font-size: 1.2rem;
}


.skills .tools ul li img{
    max-width: 75px;
    min-height: 75px;
}


.skills .tools ul {
  display: flex;
  flex-direction: row;
 justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.iconsSkills li{
    list-style: none;
    margin: 0;
    padding: 0;
}



.skills{
    display: block;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

p.tecnologias{
    display: flex;
    justify-content: center;
    margin-bottom: -2rem;
}


.idiomas li{
    line-height: 40px;
    font-size: 1.2rem;
}


@media only screen and (min-width: 768px) {
	.skills{
    display: flex;
    gap: 5rem;
    align-items: flex-start;
    justify-content: center;
}

.titlePortfolio{
    font-size: 20rem;
}
}

.repos-list a{
    text-decoration: none;
    color: #fff;
}

.repos-list li{
    list-style: none;
}