.acordeon{
    display: flex;
    flex-direction: column;
    width:100%;
    border: 1px solid #fff;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    justify-content: center;
    cursor: pointer;
}


.acordeon .trigger{
    font-size: 1.7rem;
    position: relative;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    border: none;
    padding-top: 0.3rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.acordeon:hover{
    background: #7b2cbf;
    transition: ease-in 10ms;
}



.icon-arrow{
    display: inline-flex;
    height: 1rem;
    transform: rotate(-90deg);
    padding-right: 0.3rem;
}



.title{
    font-size: 2rem;
    display: inline-block;
}

.content{
    display: none;
}


.ativo{
 font-size: 1.5rem;
}



.tools h3{
    font-size: 1.5rem;
}

.personal h3{
    font-size: 1.5rem;
}

.personal li{
    line-height: 40px;
    font-size: 1.2rem;
}


.skills .tools ul li img{
    max-width: 75px;
    min-height: 75px;
}


.skills .tools ul {
  display: flex;
  flex-direction: row;
 justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.iconsSkills li{
    list-style: none;
    margin: 0;
    padding: 0;
}


.skills{
    display: block;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

p.tecnologias{
    display: flex;
    justify-content: center;
    margin-bottom: -2rem;
}


.idiomas li{
    line-height: 40px;
    font-size: 1.2rem;
}


.fa-square-js{
    font-size: 4rem;
}

.fa-html5{
    font-size: 4rem;

}

.fa-css3-alt{
    font-size: 4rem;
}

.fa-wordpress{
    font-size: 4rem;
}

.servicos-list{
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    font-family: 'Open sans', 'sans-serif';
    flex: 1;
    background-color: #1a0130;
    border-radius: 1rem;
}


.servicos-list p{
    font-size: 1rem;
    text-align: center;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
}


.container-servicos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}


.fa-file-excel{
    font-size: 3.5rem;
    display: flex;
}

.fa-file-excel:hover{
    color: green;
}

.excel{
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
}

.fa-shop{
 font-size: 3.5rem;
    display: flex;
}

.fa-shop:hover{
    color: yellow;
}

.shop-icon{
 display: flex;
    justify-content: center;
    margin-top: 1.3rem;
}

.wpp-service{
     font-size: 3.5rem;
    display: flex;
}

.wpp-service:hover{
    color: green;
}

.wpp{
     display: flex;
    justify-content: center;
    margin-top: 1.3rem;
}

.fa-window-restore{
     font-size: 3.5rem;
    display: flex;
}

.fa-window-restore:hover{
    color: #7b2cbf;
}

.web{
     display: flex;
    justify-content: center;
    margin-top: 1.3rem;
}

.page{
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
}

.fa-file{
    font-size: 3.5rem;
    display: flex;
}

.fa-file:hover{
    color: rgb(33, 54, 240);
}


@media only screen and (min-width: 768px) {
	.skills{
    display: flex;
    gap: 5rem;
    align-items: flex-start;
    justify-content: center;
}

.titlePortfolio{
    font-size: 20rem;
}
}

.repos-list a{
    text-decoration: none;
    color: #fff;
}

.repos-list li{
    list-style: none;
}