.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

}


.header h1 {
    text-align: center;
    line-height: 45px;
    font-size: 2rem;
}

.header .photo {
    margin-top: 2rem;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
}

.chamada{
  margin-top: -0.3rem;
  font-size: 1.5rem;
}

.zap{
  background-color:rgb(128, 7, 243);
  height: 5rem;
  width: 20rem;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  display: inline;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  
  background: linear-gradient(45deg, #9d4edd, rgb(128, 7, 243),#00f404);
  background-size: 600% 100%;
  animation: gradientMove 6s ease infinite;
  cursor: pointer;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.fa-whatsapp{
  font-size: 1.6rem;
}




.informations {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(199, 199, 199);
}

.informations p {
    margin: .5rem;
        display: none;

}

.informations p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}

.informations .job::before {
    background-image: url('/assets/icons/job.svg');
    display: none;
    
}

.informations .location::before {
    background-image: url('/assets/icons/location.svg');
        display: none;

}

.informations .email::before {
    background-image: url('/assets/icons/email.svg');
        display: none;

}

.informations .phone::before {
    background-image: url('/assets/icons/phone.svg');
        display: none;

}



.header .perfil-about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-about {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  display: flex;
}



.box-about::before,
.box-about::after {
  content: '';
  position: absolute;
  top: -5px; /* faz o anel ficar maior que a imagem, ajusta conforme seu gosto */
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 50%;
  background: conic-gradient( rgb(43, 43, 43),  rgb(43, 43, 43), #04baf7,  rgb(43, 43, 43));
  animation: rotate-border 6s linear infinite;
  z-index: 0; /* ESSENCIAL: colocar atrás */
}

.box-about::after {
  animation-delay: 3s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.efect-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(180deg, #0f012b, #000);
  position: relative;
  z-index: 1; /* ESSENCIAL: garantir que a imagem fique na frente do anel */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.foto-perfil {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  filter: contrast(1.4);
  mix-blend-mode: lighten;
  mask-image: linear-gradient(to top, transparent 100%, #ffffff);
  -webkit-mask-image: linear-gradient(to top, transparent 2%, #bb14e1);
}


@media only screen and (min-width: 370px) and (max-width: 390px) {
  
  .header h1 {
    text-align: center;
    line-height: 45px;
    font-size: 1.6rem;
}
 

    
}

@media only screen and (min-width: 1024px) {
  
  .informations{
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: center;
  }

 

    
}